fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.41
psycopg[binary]==3.2.9
pydantic-settings==2.10.1
python-multipart==0.0.20
httpx==0.28.1
itsdangerous==2.2.0
jinja2==3.1.6
prometheus-client==0.22.1
cryptography==45.0.5
pyotp==2.9.0
boto3==1.39.4
pillow==11.3.0
alembic==1.16.4
pywebpush==2.0.3
qrcode[pil]==8.2
